@use '../abstracts/variables' as *;

.section-title {
  font-weight: 700;
  font-size: clamp(30px, 2.4vw, 36px);
  line-height: 1.04;
  letter-spacing: -2px;
  color: $clr-primary;
  align-self: center;
}
.back-button {
  position: fixed !important;
  left: $layout-spacing;
  top: 120px;
  z-index: 10;
}
